@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family='Roboto', sans-serif');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* ---------------------------------------- */
/* COL-XS */
/* ---------------------------------------- */
@media (max-width: 576px){

}


/* ---------------------------------------- */
/* COL-SM */
/* ---------------------------------------- */
@media (min-width: 576px){

}



/* ---------------------------------------- */
/* COL-MD */
/* ---------------------------------------- */
@media (min-width: 768px) {

}


/* ---------------------------------------- */
/* COL-LG */
/* ---------------------------------------- */
@media (min-width: 992px) {

}



/* ---------------------------------------- */
/* COL-XL */
/* ---------------------------------------- */
@media (min-width: 1200px) {
  
}


/* ---------------------------------------- */
/* COL-XXL */
/* ---------------------------------------- */
@media (min-width: 1400px) {

}

/* ---------------------------------------- */
/* MORE THAN XXL */
/* ---------------------------------------- */
@media (min-width: 1600px) {

}

/* ********************************************** */
/* ******* GENERAL STYLE DEFINITIONS  */
/* ********************************************** */
.main-text{
   background: #FFE1E1;
   text-align: center;
}

.main-bg-color
{
  background-color: #f7e3db;
}

hr.half-width{
  width:50%;
  margin: 0 auto;
  height: 1px;
}

/* ********************************************** */
/* ******* NAVBAR  */
/* ********************************************** */

.navbar-brand img {
  width: 80px;
  border-radius: 50%;
  transition: 0.2s linear;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

.navbar-light{
  background: #fff;
  height: 120px;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #000000 !important;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-nav {
  align-items: center;
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

.navbar-nav a{
  color: #000000;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

.navbar .navbar-nav .nav-item a {
  position: relative;
}

.navbar .navbar-nav .nav-item a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color:#FFE1E1;
  width: 0%;
  height: 1px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item a:hover::after {
  width: 70%;
}

  /*SCROLL LOCKED RESPONSIVE CLASSES*/
  /* .nav-colored {
		-color: #badfd7;
    opacity: 0.9;
  }
  
  .nav-transparent { background-color:transparent;}
  
  ul.navbar-nav>li.nav-item>a.nav-link.custom{
    color: #000000 !important;
    display: inline-block;
} */

/* ********************************************** */
/* CAROUSEL */
/* ********************************************** */
.carousel{
  margin: 50px 120px;
  height: 678px;
}

/* .bg-light {
	background-color: transparent !important;
} */

.carousel-item {
	/* max-height: 100vh; */
	min-height: 500px;
}

.carousel-item h1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-family: "Kumbh Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 30px;
}

.carousel-item h1:after{
    content:' ';
    display:block;
    border: 1px solid ;
    border-color: rgba(0,0,0,0.55);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.carousel-item p{
    font-size: 22px;
    font-family: 'Courier New', monospace;
}

.carousel-item img{
  opacity: 0.8;
  overflow: hidden;
  object-fit: cover;
  height: 578px;
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 100px; 
  padding-right: 100px;
}

.vertical-center{
    position: relative;
    top: 15%;
    padding: 0 5vw;
    line-height: 2;
 }  


.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px; /* change width */
  height: 20px; /* change height */
  margin-right: 6px;
  margin-left: 6px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #FFA5C0;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%; // /* add border-radius */
}

.carousel-indicators  [data-bs-target].active{
  background-color: #BB034E; 
}

/* ********************************************** */
/* ACTIVITIES */
/* ********************************************** */
.section-activities{  
    padding: 0vw 5VW;
    padding-bottom: 5vw;
    text-align: center;
}

.section-activities h1{

}

.activity-card{
  height: 350px;
  width: 350px;
  background-color: #B2C8BD;
  opacity: 0.7;
  transition: 0.2s linear;
}

.activity-card h2{
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 72px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.activity-card:hover{
  opacity: 1;
  transform: scale(1.01);
}

.card-1{

}

.card-1 h2{
  padding-top: 70px;
}

.card-2{
  padding-top: 100px;
}

.card-2 h2{
  padding-top: 140px;
}

.card-3{
  padding-top: 200px;
}

.card-3 h2{
  padding-top: 140px;
}

.card-4{
  padding-top: 300px;
}

.card-4 h2{
  padding-top: 140px;
}

.card-4 p, .card-3 p, .card-2 p{
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 500px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner img{
  height: 100%;
  object-fit: contain;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #B2C8BD;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: #B2C8BD;
  letter-spacing: 0.5rem;
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0.5;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back-1 {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back-1 {
  transform: rotateY(180deg);
}
/* ********************************************** */
/* PARALLAX EFFECTS */
/* ********************************************** */
.parallax {
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  /* background: url("/static/app_vackolo/img/page_elements/paw_bg.png"); */
  height: 400px;
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  background-image: url("/static/app_pottompatti/img/bakery.jpeg");
}

.parallax h1{
  color: #000000;
  font-size: 4rem;
  text-align: center;
  padding-top: 150px;
  opacity: 100% !important;
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1rem;
}

/* ********************************************** */
/* JÁRTÁL NÁLUNK */
/* ********************************************** */
.jartalnalunk{
  min-height: 500px;
}

.jartalnalunk h2{
  text-align: center;
}

.jartalnalunk img{
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
}

.img-container{
  padding: 100px 100px;
  overflow: hidden;
}

.jartalnalunk h2{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.jartalnalunk p{
  font-size: 22px;
  font-family: 'Courier New', monospace;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.jartalnalunk-text{
  padding-top: 10vw;
}


/* ********************************************** */
/* FOOTER */
/* ********************************************** */
.footer{
  background-color: #A2B49C;
  text-align: center;
  color: white;
}

.footer h2{
  font-family: "Lekton", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* ********************************************** */
/* BUTTON DEFINITIONS */
/* ********************************************** */
.btn1 {
  border-radius: 12px;
  border: 0px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background: #3bae46;
  min-width: 120px;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: all;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.0005vw;
  margin-top: 1vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn1:hover{
  background: #fff;
  color: #3bae46;
  letter-spacing: 0.001vw;
}


.maincategories .row{
  height: 500px;
  overflow: hidden;
  background-color: antiquewhite;
  border-radius: 30px;
}

.maincategory{
  text-align: center;
  padding-top: 10rem;
  text-transform: uppercase;
}

.maincatimgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.maincatimgcontainer img {
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
    border-radius: 30px;
}


/* ********************************************** */
/* SOCIAL ICONS */
/* ********************************************** */
.social{
  min-width: 200px;
}

.social img{
  height: 30px;
  width:30px;
  transition: 0.1s linear;
  opacity: 0.7;
}

.social a{
  padding: 5px;
}

.social img:hover{
 transform: scale(1.3);
 opacity: 1;
}

.socicon{
  transition: 0.1s linear;
  transform:scale(1.2);
  -webkit-backface-visibility: hidden;
  color: #969595;
}

.socicon:hover{
  transform:scale(1.6);
}


/* ********************************************** */
/* TORTÁK */
/* ********************************************** */

.torta-sidebar{
  text-align: center;
}

.torta-sidebar a{
  text-decoration: none;
  color: grey;
  transition: 0.2s linear;
}

.torta-sidebar a:hover{
  font-size: 18px;
}

.torta-lista{
  letter-spacing: 0.5rem;
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
}

.torta-card{
  box-shadow:hsl(40, 20%, 50%) 0 0 50px;
  background-color: #dee2e3;
  color: #464747;
  border-radius: 1px;
  height: 500px;
  width: 400px;
  padding-left: 0;
  font-size: 14px;
  justify-content: center;
  border-radius: 20px;
  margin-top:20px;
  position:relative;
  background-color: #A2B49C;
}

.wrapper-img{
  overflow:hidden;
  height: 250px;
  margin-top: 3px;
  border-radius: 20px;
}

.tortapic{
  height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 1s ease;
}

.cover{
  object-fit: cover;
  width:100%;
  height:auto;
}

.tortapic:hover{
  transform: scale(1.1);
  transform: rotate(2deg) scale(1.1);
}

  /* div { outline: 1px dashed blue } span { outline: 1px dashed green }

  div { 
      border: 1px solid rgb(0, 0, 0);
  } */

