
<div class="row">
    {% for torta in tortak %}
        <div class="col-md-6">
            <div class="product-card">
                <div class="wrapper-img">
                    <a href="#tortaModal{{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#tortaModal{{ forloop.counter }}">
                        <img src="{{ torta.photo_tumb.url }}" class="tortapic">
                    </a>
                    </div>
                    <div class="product-card-body">
                        <h5 class="card-title">{{ torta.name }}</h5>
                        <!-- <p class="card-text">{{ torta.description }}</p> -->
                        <p class="category-tag">#{{ torta.product_category }}</p>
                        <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#tortaModal{{ forloop.counter }}">
                            Részletek
                        </button>
                    </div>
                </div>

        </div>

        <div class="modal fade" id="tortaModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="tortaModalLabel{{ forloop.counter }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tortaModalLabel{{ forloop.counter }}">{{ torta.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ torta.photo_tumb.url }}" class="img-fluid mb-3" alt="{{ torta.name }}">
                        <br>
                        <p>{{ torta.description }}</p> <!-- Hosszú leírás -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>