
<div class="row g-3">
    {% for torta in tortak %}
        <div class="col-xl-4 col-sm-12 col-md-6 pb-3">
            <div class="product-card fade-in-htmx">
                <div class="wrapper-img">
                    <a href="#tortaModal{{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#tortaModal{{ forloop.counter }}">
                        <img src="{{ torta.photo_tumb.url }}" class="tortapic">
                    </a>
                </div>
                <div class="product-card-body">
                        <h5 class="card-title">{{ torta.name }}</h5>
                        <p class="category-tag">#{{ torta.product_category }}</p>

                </div>
            </div>
        </div>

        <div class="modal fade" id="tortaModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="tortaModalLabel{{ forloop.counter }}" aria-hidden="true" data-bs-keyboard="true">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="{{ torta.photo_tumb.url }}" class="img-fluid mb-3" alt="{{ torta.name }}">
                            </div>
                            <div class="col-md-6">
                                <h5>{{ torta.name }}</h5>
                                <div class="row separator-modal">
                                    <center>~ & ~</center>
                                  </div>
                                <h4>Leírás</h4>
                                <p>{{ torta.description }}</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
