
<div class="row">
    {% for sutemeny in sutemenyek %}
        <div class="col-xl-4 col-sm-12 col-md-6 pb-3">
            <div class="product-card fade-in-htmx">
                <div class="wrapper-img">
                    <a href="#sutemenyModal{{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#sutemenyModal{{ forloop.counter }}">
                        <img src="{{ sutemeny.photo_tumb.url }}" class="tortapic">
                    </a>
                    </div>
                    <div class="product-card-body">
                        <h5 class="card-title">{{ sutemeny.name }}</h5>
                        <p class="category-tag">#{{ sutemeny.product_category }}</p>
                    </div>
                </div>

        </div>

        <div class="modal fade" id="sutemenyModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="sutemenyModalLabel{{ forloop.counter }}" aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- nagyobb modal -->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="{{ sutemeny.photo_tumb.url }}" class="img-fluid mb-3" alt="{{ torta.name }}">
                            </div>
                            <div class="col-md-6">
                                <h5>{{ sutemeny.name }}</h>
                                <div class="row separator-modal">
                                    <center>~ & ~</center>
                                  </div>
                                <h4>Leírás</h4>
                                <p>{{ sutemeny.description }}</p> <!-- hosszú leírás -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>