{% extends 'main.html'%}
{% load static %}       
{% block content %}

<section>
  <div class="container esemenyekre fade-in-on-load">
    <div class="row">
      <div class="col">
        <h1><i>Eseményekre</i></h1>
        <p>Legyen szó esküvőről, születésnapról, céges eseményről vagy bármilyen ünnepi 
          alkalomról, cukrászdánk gondoskodik róla, hogy az édességek felejthetetlenné tegyék a 
          pillanatot!<br><br>
          
          ✨ Egyedi torták – Klasszikus és modern ízek, különleges díszítéssel.<br>
          🥐 Aprósütemények – Édes és sós falatok, hogy minden vendég megtalálja a kedvencét.<br>
          🍰 Desszertasztal teljeskörűen – Macaronok, pohárkrémek, minitorták, piték és sok más 
          finomság.<br><br>
          
          Teljesen rád szabjuk a kínálatot – legyen szó egy elegáns, kifinomult esküvőről vagy egy 
          vidám, családi ünnepről. Minőségi alapanyagokkal, szeretettel és precizitással készítünk 
          mindent, hogy te csak az élményekre koncentrálhass.<br><br>
          
          Foglalj időpontot egy személyes egyeztetésre, és állítsuk össze együtt az eseményed 
          tökéletes desszertasztalát! 🍪💛</p>
      </div>
    </div>
    <div class="row separator">
      <center>~ & ~</center>
    </div>
  </div>

<section class="ihlet">
  <div class="container-fluid">
    <div class="row fade-in">
      <div class="col">
        <h1><i>Meríts ihletet az általunk készített desszertekből!</i></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="{% static 'app_pottompatti/img/apro_sutik.jpg'%}"/>
      </div>
      <div class="col-lg-6">
        <h2><i>Fedezd fel állandó kedvenceinket!</i></h2>
        <p>
          Válogass állandó kínálatunkból, ahol friss, gondosan készített sütemények, torták és sós finomságok várnak minden nap.
        </p>
        <center><button class="btn btn-discover">Torták</button></center><br>
        <center><button class="btn btn-discover">Aprósütemények</button></center>
      </div>
    </div>

    <div class="row fade-in">
      <div class="col-lg-6">
        <h2><i>Álmaid esküvői tortája a Pöttöm Patti Cukrászdában!</i> </h2>
        <p>
          Nálunk megtalálod a tökéletes esküvői tortát, amely nem csak gyönyörű, de hihetetlenül finom is. 
          Minden tortánkat egyedileg, a te kívánságaid szerint készítjük el, hogy az életed egyik legfontosabb napja még emlékezetesebb legyen. Legyen szó klasszikus vagy modern stílusról, mi megvalósítjuk az álmaidat!
        </p>
        <center><button class="btn btn-discover">Galéria</button></center>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'app_pottompatti/img/eskuvoi_torta.jpg'%}"/>
      </div>
    </div>

    <div class="row fade-in">
      <div class="col-lg-6">
        <img src="{% static 'app_pottompatti/img/diszes_torta.jpg'%}"/>
      </div>
      <div class="col-lg-6">
        <h2><i>Egyedi születésnapi torták – Pontosan úgy, ahogyan megálmodtad! </i></h2>
        <p>
          Tedd különlegessé a születésnapot egy személyre szabott tortával! 
          Legyen szó elegáns, modern dizájnról, vidám gyerektortáról vagy egy igazán különleges ízkombinációról, mi megvalósítjuk az elképzelésedet.
        </p>
        <button class="btn btn-discover">Galéria</button>
      </div>
    </div>
  </div>
</section>

</section>
{% endblock content %}