{% extends 'main.html'%}
{% load static %}
{% block content %}

<div class="container-fluid py-5 kapcsolat">
  <div class="row divider">

  </div>
  <div class="row">
    <!-- Info Box -->
    <div class="info-box mx-auto mb-5 p-4 col-lg-4 kapcsolat-leiras">
        <p class="mb-3">
            Ha már van konkrét elképzelésed, vagy tanácsra van szükséged a tökéletes süti kiválasztásához, írj nekünk bátran az online felületünkön! Örömmel segítünk, hogy pontosan azt kapd, amit megálmodtál. 🍪😊
        </p>
        <p>
            Amint megkaptuk az általad leírtakat, igyekszünk minél hamarabb visszajelezni neked e-mailben vagy telefonon, hogy a lehető leghamarabb a kezedhez kapd a kedvenc finomságaid.
        </p>
    </div>

    <div class="col-lg-8">
      <!-- Rendelés form -->
      <h2 class="mb-4 rendelesleadas"><i>Add le rendelésed online!</i></h2>
      <div class="form-container">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row g-3">

                <div class="row mb-3 align-items-center">
                    <div class="col-sm-3 text-end">
                        <label for="name" class="form-label">Név*</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                
                <div class="row mb-3 align-items-center">
                    <div class="col-sm-3 text-end">
                        <label for="phone" class="form-label">Telefonszám*</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" id="phone" placeholder="+36 30">
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-sm-3 text-end">
                        <label for="phone" class="form-label">E-mail cím*/label>
                    </div>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>

                <div class="row mb-3 align-items-start">
                    <div class="col-sm-3 text-end mt-1">
                        <label for="rendeles" class="form-label">Rendelés részletei</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="rendeles" name="rendeles" rows="14" required></textarea>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-discover mt-3">Rendelés elküldése</button>
                </div>

            </div>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock content %}