{% extends 'main.html'%}
{% load static %}
{% block content %}

<div class="container eskuvo-szoveg">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <center><h1>KAPCSOLAT</h1></center><br>
      <div class="eskuvo-img">
        <img src={% static 'app_pottompatti/img/contact.jpg' %}> 
      </div>
      <h1>{{ eskuvoszoveg.eskuvo_szoveg.html|safe }}</h1>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<div class="container">
    <div class="row form-group">
          <div class="col-md-1 col-sm-0"></div>
          <div class="col-md-5 col-sm-12"><br><br>			
            <p>
              Amennyiben bármilyen kérdésed van töltsd ki az űrlapot vagy keress az alábbi elérhetőségeken minket:<br><br>
            </p>
            <p>
            <center>
      <a href={{ kapcsolat.facebook }} target="_blank" class="contact-button"><img src={% static 'app_pottompatti/img/facebook-white.png' %} alt="facebook ikon"> &nbsp facebook </a>
      </center>
            </p>
            <p>
            <center>
      <a href="mailto:{{ kapcsolat.emailcim }}" target="_blank" class="contact-button"><img src={% static 'app_pottompatti/img/envelope-white.png' %} alt="levél ikon">&nbsp {{ kapcsolat.emailcim }}</a>
      </center>
            </p>
            <p>
            <center>
      <a href="tel:{{ kapcsolat.telefonszam }}" target="_blank" class="contact-button"><img src={% static 'app_pottompatti/img/phone-white.png' %} alt="telefon ikon">&nbsp {{ kapcsolat.telefonszam }} </a>
      </center>
            </p>
            <p>
            <center>
      <a href="{{ kapcsolat.telephelyterkeplink}}" target="_blank" class="contact-button"><img src={% static 'app_pottompatti/img/location-white.png' %} alt="location ikon"> {{ kapcsolat.telephely }}</a>
      </center>
            </p>   			  
            <br><br>
          </div>
          <div class="col-md-5 col-sm-12 form-field"><br><br>
                          <form method="post">
                          {% csrf_token %}
                              {{form.as_p}}

                              <br><div class="formbutton text-center"><button type="submit" class="btn btn-light btn-rounded" style="text-align: center; margin: 0 auto;">elküldöm</button></div>
                          </form><br><br><br><br><br><br><br><br>
          </div>
          <div class="col-md-1 col-sm-0 form-group"></div>
    </div>
</div>



{% endblock content %}