<!DOCTYPE html>
{% load static %}
{% load static cookie_consent_tags %}

<html data-wf-page="5e966657bfb4cdde5c3e404a" data-wf-site="5e966657bfb4cd1e103e404b" lang="en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Open Graph Meta Tags -->
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="" />

<!-- Twitter Meta Tags -->
<meta name="twitter:image" content=""  />
<meta property="twitter:image:alt" content="" />
<meta name="twitter:card" content="" />

<meta name="keywords" content="">



<!-- JavaScript Bundle with Popper -->
<script src={% static 'app_pottompatti/bootstrap-5.0.2-dist/js/bootstrap.js' %}></script>
<script type="text/javascript" src={% static 'app_pottompatti/js/htmx.min.js' %} defer></script>

<!-- own css -->
<link rel="stylesheet" href={% static 'app_pottompatti/bootstrap-5.0.2-dist/css/bootstrap.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/app_pottompatti.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/lightbox.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.carousel.min.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.theme.default.min.css' %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="icon" href={% static 'app_pottompatti/images/logo.png' %}>

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

<title>
  Pöttöm Patti Cukrászda
</title>

</head>

{% if request|cookie_group_accepted:"google" %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WV9S75XT3C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WV9S75XT3C');
  </script>
{% endif %}

<body>


<!-- TOPBAR -->
<div id="topbar" class="topbar">
  <div class="container d-flex justify-content-between align-items-center h-100">
      <div>
          <small>📍 {{ kapcsolat.address }} | ☎ {{ kapcsolat.telefonszam }} | ✉ {{ kapcsolat.emailcim }}</small>
      </div>
      <div>
          <small>⏰ Nyitvatartás: {{ kapcsolat.nyitvatartas }}</small>
      </div>
  </div>
</div>


<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none" href="#">
      <img src={% static 'app_pottompatti/img/logo.jpg' %}  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item menupoint">
          <a class="nav-link" href="tortak">torták</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="sutemenyek">sütemények</a>
        </li>

        <a class="navbar-brand d-none d-md-block" href="rolunk">
          <img src={% static 'app_pottompatti/img/logo.jpg' %}  alt="">
        </a>
        <li class="nav-item menupoint">
          <a class="nav-link" href="esemeny">eseményekre</a>
        </li>          
        <li class="nav-item menupoint">
          <a class="nav-link" href="kapcsolat">kapcsolat</a>
        </li>
        <!-- <li class="social">
          <a href="https://www.instagram.com/pottompatti/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
          <a href="https://www.facebook.com/pottompatti" target="blank"><i class="fa-brands fa-facebook-f socicon"></i></a>
          <a href="https://www.tiktok.com/@pottompatti" target="blank"><i class="fa-brands fa-tiktok socicon"></i></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock content %}


<div class="container footer">
  <div class="row">
    <div class="col-lg-4">
      <p style="  margin: 2rem auto;">
      <img src="{% static 'app_pottompatti/img/patti_logo.png' %}" style="height: 100px;" /><br>
      {{ kapcsolat.address }} <br>
      {{ kapcsolat.telefonszam }}
    </div>
    <div class="col-lg-4">
      <p class="bordered">
        Nyitvatartási idő<br><br>
        {{ kapcsolat.nyitvatartas }}
      </p>
    </div>
    <div class="col-lg-4">
      <p><br><br>
        <ul class="list-unstyled">
          <li><a href="{% url 'tortak' %}">Torták</a></li>
          <li><a href="{% url 'sutemenyek' %}">Sütemények</a></li>
          <li><a href="{% url 'esemenyek' %}">Események</a></li>
          <li><a href="{% url 'kapcsolat' %}">Kapcsolat</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>

<template id="cookie-consent__cookie-bar">
  <div class="cookie-bar">
      This site uses cookies for better performance and user experience.
      Do you agree to use these cookies?
      {# Button is the more accessible role, but an anchor tag would also work #}
      <button type="button" class="cookie-consent__accept">Accept</button>
      <button type="button" class="cookie-consent__decline">Decline</button>
      <a href="{{ url_cookies }}">Cookies info</a>
  </div>
</template>

</body>

<script src={% static 'app_pottompatti/js/app_pottompatti.js' %}></script>
<script>
    let lastScrollTop = 0;

    document.addEventListener("scroll", function() {
    const st = window.pageYOffset || document.documentElement.scrollTop;
    const navbar = document.getElementById("mynav");
    const topbar = document.getElementById("topbar");

    // TOPBAR és NAVBAR csak ha tényleg görgetsz le
    if (st > lastScrollTop && st > 80) {  // csak ha lejjebb vagy mint 80px
        navbar.classList.add('navbar-hidden');
        topbar.classList.add('topbar-hidden');
    } else if (st < lastScrollTop) {
        // felfelé görgetés
        navbar.classList.remove('navbar-hidden');
        if (st <= 50) {
            topbar.classList.remove('topbar-hidden');
        }
    }

    // átlátszó header effekthez
    if (st <= 50) {
        navbar.classList.remove('scrolled');
    } else {
        navbar.classList.add('scrolled');
    }

    lastScrollTop = st <= 0 ? 0 : st; // ne legyen negatív
});

  document.addEventListener('scroll', function() {
    document.querySelectorAll('.fade-in').forEach(function(el){
        const rect = el.getBoundingClientRect();
        if(rect.top < window.innerHeight - 150) {
            el.classList.add('visible');
        }
    });
    });
    document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function(){
        document.querySelectorAll('.fade-in-on-load').forEach(function(el){
            el.classList.add('visible');
            triggerFadeIn();
        });
    }, 500); // <-- 1000 ms = 1 másodperc késleltetés
    });


    function triggerFadeIn() {
    document.querySelectorAll('.fade-in-htmx').forEach(function(el, index) {
        // Reset, ne legyen visible alapból
        el.classList.remove('visible');
        el.style.transitionDelay = (index * 100) + "ms"; 
    });

    // Kicsi várakozás, hogy az új DOM beépüljön
    setTimeout(() => {
        document.querySelectorAll('.fade-in-htmx').forEach(function(el) {
            el.classList.add('visible');
        });
    }, 150); // 150ms biztosan elég
}

    document.body.addEventListener('htmx:afterSwap', function(e)
      {
        triggerFadeIn();
      }
);

</script>
  
</html>