<!DOCTYPE html>
{% load static %}
{% load static cookie_consent_tags %}

<html data-wf-page="5e966657bfb4cdde5c3e404a" data-wf-site="5e966657bfb4cd1e103e404b" lang="en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Open Graph Meta Tags -->
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="" />

<!-- Twitter Meta Tags -->
<meta name="twitter:image" content=""  />
<meta property="twitter:image:alt" content="" />
<meta name="twitter:card" content="" />

<meta name="keywords" content="">



<!-- JavaScript Bundle with Popper -->
<script src={% static 'app_pottompatti/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}></script>

<!-- <script src={% static 'app_pottompatti/bootstrap-5.0.2-dist/js/bootstrap.js' %}></script> -->
<script type="text/javascript" src={% static 'app_pottompatti/js/htmx.min.js' %} defer></script>

<!-- own css -->
<link rel="stylesheet" href={% static 'app_pottompatti/bootstrap-5.0.2-dist/css/bootstrap.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/app_pottompatti.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/lightbox.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.carousel.min.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.theme.default.min.css' %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="icon" href={% static 'app_pottompatti/img/logo.jpg' %}>

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

<title>
  Pöttöm Patti Cukrászda
</title>

</head>

{% if request|cookie_group_accepted:"google" %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WV9S75XT3C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WV9S75XT3C');
  </script>
{% endif %}

<body>


<!-- TOPBAR -->
<div id="topbar" class="topbar d-none d-lg-block">
  <div class="container d-flex flex-wrap justify-content-between align-items-center h-100 text-md-start">
    <div class="contact-info">
      <small>
        <span class="me-2">📍 {{ kapcsolat.address }}</span><br class="d-sm-none">
        <span class="me-2">☎ {{ kapcsolat.telefonszam }}</span><br class="d-sm-none">
        <span>✉ {{ kapcsolat.emailcim }}</span><br class="d-sm-none">
        <span>⏰ {{ kapcsolat.nyitvatartas }}</span>
      </small>
    </div>
    <div class="social">
      <a href={{ kapcsolat.instagram }} target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
      <a href={{ kapcsolat.facebook }} target="blank"><i class="fa-brands fa-facebook-f socicon"></i></a>
      <a href={{ kapcsolat.tiktok }} target="blank"><i class="fa-brands fa-tiktok socicon"></i></a>
    </div>
  </div>
</div>


<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none" href="rolunk">
      <img src="/static/app_pottompatti/img/logo.jpg" alt="Főoldal logó">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item menupoint">
          <a class="nav-link" href="tortak">torták</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="sutemenyek">sütemények</a>
        </li>

        <a class="navbar-brand d-none d-md-block" href="rolunk">
          <img src="/static/app_pottompatti/img/logo.jpg"  alt="Főoldal logó">
        </a>
        <li class="nav-item menupoint">
          <a class="nav-link" href="esemeny">eseményekre</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="kapcsolat">kapcsolat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock content %}


<div class="container footer">
  <div class="row">
    <div class="col-md-4">
      <p class="footer-logo">
      <img src="{% static 'app_pottompatti/img/patti_logo.png' %}" style="height: 100px;" /><br>
      {{ kapcsolat.address }} <br>
      {{ kapcsolat.telefonszam }}
    </div>
    <div class="col-md-4">
      <p class="bordered">
        Nyitvatartási idő<br><br>
        {{ kapcsolat.nyitvatartas }}
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <ul class="list-unstyled">
          <li><a href="{% url 'tortak' %}">Torták</a></li>
          <li><a href="{% url 'sutemenyek' %}">Sütemények</a></li>
          <li><a href="{% url 'esemenyek' %}">Események</a></li>
          <li><a href="{% url 'kapcsolat' %}">Kapcsolat</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>


<div id="cookie-banner" class="cookie-bar" style="display: none;">
  <p>Az oldal viselkedésalapú cookie-kat használ. Ha elfogadod, kattints az „Elfogadom” gombra.</p>
  <div class="cookie-buttons">
      <button class="cc-cookie-accept">Elfogadom</button>
      <button class="cc-cookie-decline">Elutasítom</button>
      <a href="{% static 'app_bettirelax/img/cookie_tajekoztato.pdf' %}" class="cc-cookie-settings" download="cookies">Adatvédelmi irányelvek</a>
  </div>
</div>

</body>
<script src={% static 'app_pottompatti/js/cookie_handler.js' %} defer></script>
<script src={% static 'app_pottompatti/js/app_pottompatti.js' %}></script>

</html>