<!DOCTYPE html>
{% load static %}

<html data-wf-page="5e966657bfb4cdde5c3e404a" data-wf-site="5e966657bfb4cd1e103e404b" lang="en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Open Graph Meta Tags -->
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="" />

<!-- Twitter Meta Tags -->
<meta name="twitter:image" content=""  />
<meta property="twitter:image:alt" content="" />
<meta name="twitter:card" content="" />

<meta name="keywords" content="">



<!-- JavaScript Bundle with Popper -->
<script src={% static 'app_pottompatti/bootstrap-5.0.2-dist/js/bootstrap.js' %}></script>
<script src={% static 'app_pottompatti/js/lightbox-plus-jquery.min.js' %}></script>
<script src={% static 'app_pottompatti/js/jquery.min.js' %}></script>
<script src={% static 'app_pottompatti/js/owl.carousel.min.js' %}></script>

<!-- own css -->
<link rel="stylesheet" href={% static 'app_pottompatti/bootstrap-5.0.2-dist/css/bootstrap.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/app_pottompatti.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/lightbox.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.carousel.min.css' %}>
<link rel="stylesheet" href={% static 'app_pottompatti/css/owl.theme.default.min.css' %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="icon" href={% static 'app_pottompatti/images/logo.png' %}>

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

<title>
  LOREM IPSUM
</title>

</head>

<body>


<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom" style="text-align: center;">
  <div class="container">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav navbar-links-custom" id="nvbarnav">
            <a class="navbar-brand navbar-expand menubrand mr-auto d-none d-xl-block" href="rolunk"><img src={% static 'app_pottompatti/img/logo.jpg' %} class="brand-logo brandicon" id="logo"></a>
            <li class="nav-item menupoint">
              <a class="nav-link" href="torta">torták</a>
            </li>        
            <!-- <li class="nav-item menupoint">
              <a class="nav-link" href="uzletunk">üzletünk</a>
            </li> -->
            <li class="nav-item menupoint">
              <a class="nav-link" href="sutemeny">sütemények</a>
            </li>
            <li class="nav-item menupoint">
              <a class="nav-link" href="eskuvo">esküvő</a>
            </li>            
            <li class="nav-item menupoint">
              <a class="nav-link" href="rendezvenyek">rendezvények</a>
            </li>
            <!-- <li class="nav-item menupoint">
              <a class="nav-link" href="esemenyek">közelgő események</a>
            </li> -->
            <li class="nav-item menupoint">
              <a class="nav-link" href="karrier">karrier</a>
            </li>
            <li class="nav-item menupoint">
              <a class="nav-link" href="kapcsolat">kapcsolat</a>
            </li>
        </ul>
      
  </div>
</nav>

{% block content %}

{% endblock content %}


<!-- <div class ="container-fluid" id="kapcsolat">
  <div class="row">
    <div class="z-depth-1-half map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.4541689573275!2d17.935274296791302!3d47.05094053200856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476997d12fb71659%3A0x4b26fbd8f0bcc559!2zVmFja29sw7Mgw4FsbGF0dsOpZMWRIEVneWVzw7xsZXQ!5e0!3m2!1shu!2shu!4v1689107826815!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div> -->

<section>
  <div class ="container-fluid footer">
    <div class="row pt-5 pb-2">
        <div class="col-lg-3 pb-5">
          <h2>CÍMÜNK</h2>
          <p>1234 Város<br>
           14</p>
        </div>
        <div class="col-lg-3 pb-xs-5">
          <h2>NYITVATARTÁS</h2>
          <p>1234 Város<br>
          Utca 14</p>
        </div>
        <div class="col-lg-3 pt-xs-5">
          <h2>KONTAKT</h2>
          <p>email<br>
          Utca 14</p>
        </div>        
        <div class="col-lg-3 pt-xs-5">
          <h2>SOCIAL</h2>
          <p>email<br>
           14</p>
        </div>
    </div>
  </div>
</section>

<!-- <div class="cookies-eu-banner hidden">
  Az oldal viselkedésalapú cookie-kat használhat. Amennyiben elfogadod, kattints az elfogadom gombra.<a href="{% static 'app_pottompatti/cookie/sutik.pdf' %}" download="cookies">adatvédelmi irányelvek</a> 
  <button>ELFOGADOM</button>
</div> -->

</body>

<script src={% static 'app_pottompatti/app_pottompatti.js' %}></script>
</html>