{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="carousel main-text slide" data-bs-ride="carousel" id="carouselExampleIndicators" data-bs-pause="false">
		<div class="carousel-indicators">
			<button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
		</div>

		<div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img alt="torta kozeli kep" class="d-block w-100" src="{{ hirek.0.photo_tumb.url }}">
            </div>
            <div class="col-xl-6 col-xs-12 col-sm-12">
                <div class="vertical-center">
                  <h2>{{ hirek.0.title }}</h2>
                  <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">{{ hirek.0.content.html|safe }}</p>
                </div>
              </div>
          </div>
      </div>

      <div class="carousel-item">
        <div class="row g-0">
          <div class="col-xl-6 col-xs-12 col-sm-12">
              <div class="vertical-center">
                <h2>{{ hirek.1.title }}</h2>
                <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">{{ hirek.1.content.html|safe }}</p>
              </div>
          </div>
          <div class="col-xl-6  d-none d-xl-block">
            <img alt="torta kozeli kep" class="d-block w-100" src={{ hirek.1.photo_tumb.url }}>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row g-0">
          <div class="col-xl-6 d-none d-xl-block">
            <img alt="torta kozeli kep" class="d-block w-100" src={{ hirek.2.photo_tumb.url }}>
          </div>
          <div class="col-xl-6 col-xs-12 col-sm-12">
            <div class="vertical-center">
                <h2>{{ hirek.2.title }}</h2>
                <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">{{ hirek.2.content.html|safe }}</p>
              </div>
            </div>
        </div>

      </div>
		</div>

</div>

<section class="section-activities">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>PATTI TÖRTÉNETE</h1><hr class="half-width"><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 card-1">
        <div class="flip-card activity-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2>Az ELSŐ tortám</h2>
            </div>
            <div class="flip-card-back">
              <img src={% static 'app_pottompatti/img/torta-carousel-2.jpg' %}>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 card-2">
        <div class="flip-card activity-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2>2019</h2>
            </div>
            <div class="flip-card-back">
              <p>Megnyílt Pöttöm Patti üzlete Kazincbarcikán</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 card-3">
        <div class="flip-card activity-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2>2021</h2>
            </div>
            <div class="flip-card-back">
              <p>Kávézási lehetőség és sós süteméyek is várják</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 card-4">
        <div class="flip-card activity-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2>2024</h2>
            </div>
            <div class="flip-card-back">
              <p>Három közösségi média platform után már honlapon válogathatsz</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="parallax">
  <h1>Jártál már nálunk?</h1>
</div>

<section class="jartalnalunk">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 jartalnalunk-text">
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">{{ terjbe.content.html|safe  }}</p>
      </div>
      <div class="col-xl-6 img-container">
        <img alt="torta kozeli kep" src={% static 'app_pottompatti/img/tea-room.jpg' %}>
      </div>
    </div>
  </div>
</section>

{% endblock content %}