{% extends 'main.html'%}
{% load static %}       
{% block content %}

<section>
  <div class="container maincategories">
    {% for maincat in productmaincategories %}
    <div class="row mt-5 mb-5 g-0">  

      {% if forloop.counter|divisibleby:2 %}
        <div class="col-xl-7 maincategory">
          <h1>{{ maincat.name }}</h1>
          <a href=""><button class="btn1">LÁSSAM</button></a>
        </div>
        {% else %}
        <div class="col-xl-5 maincatimgcontainer">
          <img src="{{ maincat.category_cover.url }}">
        </div>
        {% endif %}
        
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-xl-5 maincatimgcontainer">
          <img src="{{ maincat.category_cover.url }}">
        </div>
        {% else %}
        <div class="col-xl-7 maincategory">
          <h1>{{ maincat.name }}</h1>
          <a href=""><button class="btn1">LÁSSAM</button></a>
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}