{% extends 'main.html'%}
{% load static %}       
{% block content %}


<section>
  <div class="container-fluid">

      <div class="row mt-5 mb-5 g-0"> 
        <div class="col-lg-1"></div>

        <div class="col-lg-2 categories"> 
          <h4>Kategóriák</h4>
          <form hx-get="{% url 'filter_cakes' %}" hx-target="#cake-list" hx-trigger="input">
              {% for torta_category in tortacategories %}
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="torta_category" id="torta_category{{ torta_category.id }}" value="{{ torta_category.id }}">
                      <label class="form-check-label" for="category{{ torta_category.id }}">
                        {{ torta_category.name }}
                      </label>
                  </div>
              {% endfor %}
          </form>
        </div>     

      <div class="col-lg-7" id="cake-list">
        {% include 'partial_templates/cake_list.html' %}
      </div>

     <div class="col-lg-2">
     </div>
    </div>
  </div>
</section>
{% endblock content %}